@import "tailwindcss";

:root {
  /* --background: #ffffff;
  --text: #171717; */
  --background: #1e1e2e;
  --text: #cdd6f4;

}

@theme inline {
  --color-background: var(--background);
  --color-text: var(--text);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1e1e2e;
    --text: #cdd6f4;
  }
}

body {
  background: var(--background);
  color: var(--text);
  font-family: var(--font-jetbrains), monospace;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}
