@import "tailwindcss";

:root {
  /* --background: #ffffff;
  --text: #171717; */
  --background: #0a0a0a;
  --text: #ededed;

}

@theme inline {
  --color-background: var(--background);
  --color-text: var(--text);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --text: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--text);
  font-family: var(--font-jetbrains), monospace;
}
